body {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
#dragbox1 {
  background: blueviolet;
}
#dragbox2 {
  background: yellow;
}
.box {
  width: 50px;
  height: 50px;
}
.box:hover {
  cursor: grab;
}
#dropbox1 {
  height: auto;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
#dropbox2 {
  width: auto;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
